---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from "astro:content";
import Lightbox from "../components/Lightbox";

const portfolio = await getCollection("portfolio");
const allImages = portfolio.map((entry) => entry.data);

export type AllImages = typeof allImages;
---
<BaseLayout title="Home">
    <div class="text-center mt-8 mb-16">
        <Lightbox
            client:load
            allImages={allImages}
        />
    </div>
</BaseLayout>