---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import headshot from "../data/headshot.jpg";
---

<BaseLayout title="Home">
	<div class="my-8">
		<h1 class="my-4 text-center text-3xl text-slate-700">Hi! I'm <span class="text-teal-700 font-bold">Philippe</span></h1>
		<h2 class="px-4 text-center text-sm font-bold uppercase text-slate-500">Software Developer, Musician, <a href="/photography">Photographer</a>, Baker</h2>
	</div>
	<Image src={headshot} alt="Headshot of Philippe on some steps" class="border-transparent rounded-lg w-3/4 my-8 mx-auto"/>
</BaseLayout>
