---

---

<nav class="py-4 uppercase text-sm font-bold tracking-wide text-teal-50 bg-teal-700 border-b-[0.75rem] border-pink-400">
    <ul class="flex justify-center gap-4">
        <li class="list-none"><a href="/">Home</a></li>
        <li class="list-none"><a href="/photography">Photography</a></li>
    </ul>
</nav>