---

---

<nav class="sticky top-0 py-4 px-8 flex items-baseline justify-between text-gray-900 bg-white/75">
    <a href="/" class="text-xl tracking-wider border-transparent border-b-2 hover:border-b-teal-600">Philippe LeSaux</a>
    <ul class="flex justify-end gap-4 text-sm font-bold tracking-wide">
        <li class="list-none"><a href="/about" class="border-transparent border-b-2 hover:border-b-teal-600">about</a></li>
    </ul>
</nav>