---

---

<nav data-nav class="fixed top-0 left-0 right-0 z-20 py-4 px-8 flex items-baseline justify-between text-white bg-gradient-to-b from-black/50 to-transparent transition-all duration-300">
    <a href="/" class="text-xl tracking-wider border-transparent border-b-2 hover:border-b-teal-400">Philippe LeSaux</a>
    <ul class="flex justify-end gap-4 text-sm font-bold tracking-wide">
        <li class="list-none"><a href="/about" class="border-transparent border-b-2 hover:border-b-teal-400">about</a></li>
    </ul>
</nav>

