---

---

<nav data-nav class="fixed top-0 left-0 right-0 z-20 py-4 px-8 flex items-baseline justify-between text-zinc-900 bg-transparent transition-all duration-300">
    <a data-nav-name href="/" class="tracking-wider border-transparent border-b-2" style="font-family: 'Fraunces Variable', serif;">Philippe LeSaux</a>
    <ul class="flex justify-end gap-4 text-sm font-bold tracking-wide">
        <li class="list-none"><a href="/about" class="border-transparent border-b-2">about</a></li>
    </ul>
</nav>

