---

---

<nav class="py-4 uppercase text-sm font-bold tracking-wide text-teal-700 dark:text-teal-100">
    <ul class="flex justify-center gap-4">
        <li class="list-none"><a href="#">Home</a></li>
        <li class="list-none"><a href="#">Photography</a></li>
    </ul>
</nav>